  <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">- 辉科技游戏公司</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">主页</a></li>
                        <li><a href="#feature">关于我们</a></li>
                        <li><a href="#contact">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{R}../js/jquery.js"></script>
    <script src="{R}../js/bootstrap.min.js"></script>
    <script src="{R}../js/jquery.prettyPhoto.js"></script>
    <script src="{R}../js/jquery.isotope.min.js"></script>
    <script src="{R}../js/main.js"></script>
    <script src="{R}../js/wow.min.js"></script>
</body>
</html>