{T "content","head2",TPLID}
<div class="container Site_map"> 当前位置：<a href="{WEBURL}">首页111</a><span> &gt; {catpos($cid)}</span></div>
{php print_r(get_defined_vars());}
  <section id="blog" class="container">
        <div class="blog">
            <div class="row">
                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                            {wz:content action="listing" page="$page" pagesize="20" order="sort DESC,id DESC" cid="$cid" urlrule="$urlrule"}
                            {loop $rs $r}
                                                    
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">{date('Y-m-d',$r['addtime'])}</span>
                                    <span><i class="fa fa-user"></i> <a href="#">{$publisher}</a></span>
                                </div>
                            </div>
                                
                            <div class="col-xs-12 col-sm-10 blog-content">
<!--                                 <a href="#"><img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" /></a> -->
                                <h2><a href="{$r[url]}">{$r['title']}</a></h2>
                                <h3>{strcut($r['remark'],180,'...')}</h3>
                                <a class="btn btn-primary readmore" href="{$r[url]}">阅读全部<i class="fa fa-angle-right"></i></a>
                            </div>
                            {/loop}
                            {/wz}
        
                        </div>    
                    </div><!--/.blog-item-->
                      {php print_r('dfasdfxxxxxx');}  
                    <!-- {php print_r($this->form_format->db->pages);} -->
                    <!-- {$this->form_formats->db->pages} -->
               
                        {php print_r('set');}  
                      
                    <ul class="pagination pagination-lg">
                        {php print_r($this->form_format->db->pages);}
                    </ul>
                      
                 
         
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->

                    <div class="widget categories">
                        <h3>导航目录</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="blog_category">
                                    <!-- <li><a href="#">Computers <span class="badge">04</span></a></li> -->
                                    {wz:content action="category" pagesize="100" order="sort DESC,cid DESC"}
                                    {loop $rs $k $r}
                                    {if $r['pid']==0 && $r['ismenu']}
                                    <li><a href="{$r[url]}">{$r['name']} <span class="badge">{$k}</span></a></li>
                                    {/if}
                                    {/loop}
                                    {/wz}
                                </ul>
                            </div>
                        </div>             
                    </div><!--/.categories-->
                    
                    
                    <div class="widget tags">
                        <h3>云标签</h3>
                        <ul class="tag-cloud">
                            <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                        </ul>
                    </div><!--/.tags-->
                    
                  
                </aside>  
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->

    
{T "content","foot2",TPLID}