{T "content","head",TPLID}
<div class="container Site_map"> 当前位置：<a href="{WEBURL}">首页</a><span> &gt; {catpos($cid)}</span></div>

<div class="bankuai_1 pd5">
    <div class="container"> 
        <div class="row">
            <div class="col-xs-8" style="border-right:1px solid #eee">
                <div class="content_title">{$title} <span style="font-size:12px; float:right; padding-top:15px;">下载次数：{$down_numbers}</span></div>
                <div class="bignewsbox">
                    <div class="Nfoot">
                        <div class="lwd">时间：{date('Y-m-d H:i',$addtime)}&nbsp;&nbsp; 来源：{$copyfrom}   <div class="btn-group" role="group" aria-label="...">

                            <div class="btn-group" role="group">
                                <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onmousemove="show_qrcode('img1','{qrcode($url)}')" style="background:none; border:none;">
                                    <img src="{R}images/appicons/weixin.png" width="26" height="26">
                                </button>
                                <ul class="dropdown-menu" role="menu" style="min-width: 50px; padding:3px 3px;">
                                    <li><img id="img1" src="{R}images/onLoad.gif"> </li>
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
				
                <div class="row">
                	<div class="col-xs-5" class="thumbnail"><a href="javascript:void(0);" onclick="toDownload()" class="thumbnail" >
                      <img src="{$thumb}" alt="{$title}" style="max-height:180px; overflow:hidden;">
                    </a></div>
                    <div class="col-xs-7">
                <div class="content_p" style="font-size:13px;">
                <strong>软件作者:</strong> {$soft_author} <br>
<strong>软件大小:</strong> {$soft_size}<br>
<strong>软件类别:</strong> {$category['name']} <br>
<strong>软件语言:</strong> {$soft_language} <br>
<strong>运行环境:</strong> {$soft_env} <br>
<strong>软件授权:</strong> {$soft_license} <br>
                </div>                     
                    </div>
                </div>

                <h4><a href="#">• 内容介绍</a></h4>
                <div class="content_p">
                    {$content}
                </div>   
                <hr>

                <div class="content_p" id="download_address">
                   下载地址：
                    <a href="{$downfile}&cid={$cid}&id={$id}" target="_blank" onclick="download_count({$cid},{$id});"><button type="button" class="btn btn-danger">点击下载</button></a>
                </div>
                <hr>
                <div class="content_p" onmousemove="show_qrcode('img2','{qrcode($downfile)}')">
                    手机扫描下载：<!--<img src="{R}images/icon/qr_code.png" >-->
                    <img id="img2" src="{R}images/icon/qr_code.png" style=" position:relative; left:0px;" >
                </div>

                {if $content_pages}
                <div class="page-ination">
                    <div class="page-in">
                        <ul class="clearfix">
                            {$content_pages}
                        </ul>
                    </div>
                </div>{/if}
                {php if($keywords) $keyword = implode(',',$keywords);}
                {wz:content action="relation" cid="$cid" id="$id" keywords="$keyword" pagesize="5" order="id ASC"}
                {if !empty($rs)}相关内容：<br>
                {loop $rs $r}
                <a href="{$r['url']}">{$r['title']}</a> {time_format($r['addtime'])}
                {/loop}
                <hr>
                {/if}
                {/wz}

                {if $previous_page['url']}上一篇： <a class="f_pre" href="{$previous_page['url']}#top">{strcut($previous_page['title'],40)}</a> <br>{/if}
                {if $next_page['url']}下一篇： <a class="f_next" href="{$next_page['url']}#top">{strcut($next_page['title'],40)}</a>{/if}
<hr>


                <!--高速版，加载速度快，使用前需测试页面的兼容性-->
                <div id="SOHUCS"></div>
                <script>
                    (function(){
                        var appid = 'cyrKWBFTI',
                                conf = 'prod_51cde46e252516e5a1da7093b8db4c12';
                        var doc = document,
                                s = doc.createElement('script'),
                                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                        s.type = 'text/javascript';
                        s.charset = 'utf-8';
                        s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
                        h.insertBefore(s,h.firstChild);
                        window.SCS_NO_IFRAME = true;
                    })()
                </script>

            </div>
            <div class="col-xs-4">
                <div class="rightad_boxg">{block=13}</div>
                <div class="right_hot" id="righthot">
                    <h4>浏览排行</h4>
                    <div class="list-group">
                        {wz:content action="rank" pagesize="10" order="monthviews DESC" cid="$cid"}
                        {loop $rs $r}
                        <a href="{$r['url']}" class="list-group-item_gr active"><span class="badge_top">{str_pad($n, 2, "0", STR_PAD_LEFT)} </span>&nbsp;{strcut($r['title'],36)}</a>
                        {/loop}
                        {/wz}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function show_qrcode(id,str) {
        $("#"+id).attr('src',str);
    }
    function download_count(cid,id) {
        $.post("{WEBURL}index.php?f=download_stat", { cid: cid,id:id, time: Math.random()},
                function(data){
                });

    }
    function toDownload() {
        var download_pos = $("#download_address").offset().top;
        download_pos = download_pos-60;
        $("html,body").animate({scrollTop:download_pos},600);
    }
</script>
<script type="text/javascript" src="{WEBURL}index.php?f=stat&id={$id}&cid={$cid}"></script>
{T "content","foot",TPLID}