{T "content","head",TPLID}
<style type="text/css">
    .my-simple-gallery {
        width: 100%;
        float: left;
    }
    .my-simple-gallery img {
        width: 100%;
        height: auto;
    }
    .my-simple-gallery figure {
        display: block;
        float: left;
        margin: 0 0px 20px 0;
        width: 100%;
    }
    .my-simple-gallery figcaption {
        display: block;
    }
	
	
	.my-simple-gallery .ext-info {
  padding: 12px;
  line-height: 20px;
    background: #fff;
  box-shadow: 0 1px 2px 0 rgba(210,210,210,.31);
  -webkit-box-shadow: 0 1px 2px 0 rgba(180,180,180,.5);
  border-top: 1px solid #EEE;
  overflow: hidden;
  zoom: 1;
  
}
</style>
<link rel="stylesheet" href="{R}js/photoswipe/photoswipe.css">
<link rel="stylesheet" href="{R}js/photoswipe/default-skin/default-skin.css">
<script src="{R}js/photoswipe/photoswipe.min.js"></script>
<script src="{R}js/photoswipe/photoswipe-ui-default.min.js"></script>
<div class="container Site_map"> 当前位置：<a href="{WEBURL}">首页</a><span> &gt; {catpos($cid)}</span></div>

<div class="bankuai_1 pd30">
    <div class="container">
        <div class="row">
            <div class="col-xs-8" style="border-right:1px solid #eee">
                <div class="content_title">{$title}</div>
                <div class="bignewsbox">
                    <div class="Nfoot">
                        <div class="lwd">时间：{date('Y-m-d H:i',$addtime)}&nbsp;&nbsp; 来源：{$copyfrom}</div>
                    </div>
                </div>




                <div class="my-simple-gallery" itemscope itemtype="http://schema.org/ImageGallery">

{loop $pictures $r}

                    <figure itemprop="associatedMedia">
                        <a href="{$r['url']}" itemprop="contentUrl" data-size="{imagesize($r['url'])}">
                            <img src="{imagecut($r['url'],630,460,2)}" itemprop="thumbnail" alt="{$r['alt']}" />
                        </a>
                        <div class="ext-info">
                        <figcaption itemprop="caption description">{$r['alt']}</figcaption>
                        </div>
                    </figure>
{/loop}
                </div>

                <div class="content_p">
                    {$content}
                </div>

            </div>
            <div class="col-xs-4">
                <div class="rightad_boxg">{block=13}</div>
                <div class="right_hot" id="righthot">
                    <h4>浏览排行</h4>
                    <div class="list-group">
                        {wz:content action="rank" pagesize="10" order="monthviews DESC" cid="$cid"}
                        {loop $rs $r}
                        <a href="{$r['url']}" class="list-group-item_gr active"><span class="badge_top">{str_pad($n, 2, "0", STR_PAD_LEFT)} </span>&nbsp;{strcut($r['title'],36)}</a>
                        {/loop}
                        {/wz}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="关闭 (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="分享"></button>

                <button class="pswp__button pswp__button--fs" title="全屏显示"></button>

                <button class="pswp__button pswp__button--zoom" title="放大/缩小"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<script src="{R}js/photoswipe/loadimage.js"></script>
<script type="text/javascript">
    // execute above function
    initPhotoSwipeFromDOM('.my-simple-gallery');
</script>

<script type="text/javascript" src="{WEBURL}index.php?f=stat&id={$id}&cid={$cid}"></script>
{T "content","foot",TPLID}